name: tv-build-action-release
#推送Tag时触发
on:
  push:
    tags:
      - "tv_*"
  workflow_dispatch:
jobs:
  build-tv:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      #签出代码
      - uses: actions/checkout@v4
        with:
          ref: master

    # 1. 自动生成一个临时的签名库文件 (keystore)
      - name: Generate Dummy Keystore
        run: |
          keytool -genkey -v -keystore simple_live_tv_app/android/app/dummy.jks \
            -keyalg RSA -keysize 2048 -validity 10000 \
            -alias "tv_alias" -keypass "123456" -storepass "123456" \
            -dname "CN=TVApp, O=SimpleLive, C=CN"

      # 2. 自动创建 key.properties 配置文件，内容写死，无需 Secrets
      - name: Create key.properties
        run: |
          echo "storeFile=dummy.jks" > simple_live_tv_app/android/key.properties
          echo "storePassword=123456" >> simple_live_tv_app/android/key.properties
          echo "keyPassword=123456" >> simple_live_tv_app/android/key.properties
          echo "keyAlias=tv_alias" >> simple_live_tv_app/android/key.properties

      # 设置JAVA环境
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      #设置Flutter
      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"
          cache: true

      #更新Flutter的packages
      - name: Restore packages
        run: |
          cd simple_live_tv_app
          flutter pub get

      #打包APK
      - name: Build APK
        run: |
          cd simple_live_tv_app
          flutter build apk --release --split-per-abi

      #上传APK至Artifacts
      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android_tv
          path: |
            simple_live_tv_app/build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
            simple_live_tv_app/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
            simple_live_tv_app/build/app/outputs/flutter-apk/app-x86_64-release.apk

      #读取版本信息
      - name: Read version
        id: version
        uses: juliangruber/read-file-action@v1
        with:
          path: assets/tv_app_version.json
      - name: Echo version
        run: echo "${{ fromJson(steps.version.outputs.content).version }}"
      - name: Echo version content
        run: echo "${{ fromJson(steps.version.outputs.content).version_desc }}"
